.place__title {
  margin: 0 0 48px 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
}
@media screen and (max-width:768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (max-width:320px) {
  .place__title {
    margin: 0 16px 32px 16px;
    font-size:32px;
    line-height: 35px;
  }
}
