.cover__subtitle{
  margin: 0;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 4vw;
    line-height: 1.1;
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 90%;
  }
}

@media screen and (max-width: 319px) {
  .cover__subtitle {
    font-size: 4vw;
    line-height: 1.1;
  }
}
