.header{
    max-width: 1184px;
    width: 92.5%;
    margin: 28px auto 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:1280px){
  .header{
    width: 92.5%;
    margin: 28px auto 56px;
  }
}
@media screen and (max-width:1024px){
    .header {
        width: 90.625%;
        margin: 28px auto 48px;
    }
}
@media screen and (max-width:768px){
    .header {
        width: 93.75%;
        margin: 28px auto 48px;
    }
}
@media screen and (max-width:320px){
    .header {
        width: 90%;
        margin: 16px auto 48px;
    }
}
