.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
@media screen and (max-width:767px) {
  .footer__copyright{
    line-height: 14px;
    padding-top: 16px;
  }
}
