.intro {
    max-width: 690px;
    padding-top: 92px;
    padding-bottom: 92px;
}
    @media screen and (max-width: 768px){
    .intro {
      padding-top: 88px;
      padding-bottom: 88px;
    }
    }
@media screen and (max-width: 320px){
    .intro {
      padding-top: 64px;
      padding-bottom: 64px;
    }
}
