.intro {
    max-width: 690px;
    margin: 92px 148px;
}
    @media screen and (max-width: 1024px){
    .intro {
    margin-left: 48px;
    margin-right: 48px;
    }
    }
    @media screen and (max-width: 768px){
    .intro {
        max-width: 720px;
        margin: 88px 24px;
    }
    }
@media screen and (max-width: 320px){
    .intro {
        margin: 64px 16px;
    }
}
