.lead__caption{
  max-width: 158px;
  margin: 0;
  text-align: start;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
@media screen and (max-width:768px){
    .lead__caption {
        padding-left: 24px;
    }
}
@media screen and (max-width:320px){
    .lead__caption {
        padding-left: 16px;
    }
}