.cover__title{
  margin: 0;
  max-width: 560px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: end;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    width: 90%;
    font-size: 10vw;
    line-height: 1.1;
  }
}
@media screen and (max-width:320px){
  .cover__title {
    width: 90%;
    font-size: 32px;
    line-height: 35px;
  }
}
@media screen and (max-width: 319px) {
  .cover__title {
    width: 90%;
    font-size: 10vw;
    line-height: 1.1;
  }
}
